*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  
}
::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  height: 200vh;
  background: #fff;
  overflow-x: hidden;

  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
p,
h3 {
  color: white;
}

h3{
  padding-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #303841;
  margin: 5rem 0;
  position: relative;
}
